name: Scraping quotidiano

on:
  schedule:
    - cron: "0,20,40 * * * *"
  workflow_dispatch: 
jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium pandas datasets openpyxl datetime 

      - name: Run scraper
        run: |
          python RealTimeScraper.py

      - name: Commit CSV aggiornato
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add DossobuonoRealTime.csv
          git commit -m "Aggiorna CSV" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
